---
const { title, description } = Astro.props;

// console.log(Astro);
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<title>{title}</title>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<!-- Canonical URL -->
<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- Icons -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<!-- <link rel="apple-touch-icon" href="/assets/favicon_io/apple-touch-icon.png" />
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/assets/favicon_io/android-chrome-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="/assets/favicon_io/android-chrome-512x512.png"
/>
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png" /> -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Misc -->
<!-- <link rel="manifest" href="/assets/favicon_io/site.webmanifest" /> -->
